@charset "utf-8";
video{margin-top:4rem;}
.link--urpi::before {
    -webkit-clip-path: url(#cp_up); 
    clip-path: url(#cp_up);
}
.link--urpi::after {
    -webkit-clip-path: url(#cp_down); 
    clip-path: url(#cp_down);
}
/* Surinami */
.link--surinami {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1em;
	color: #3A4945;
	padding: 0 0 0.125em;
}
.link--surinami span {
	position: relative;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}
.link--surinami:hover span {
	color: transparent;
	font-size: 1.8rem;
}
.link--surinami span::before,
.link--surinami span::after {
	position: absolute;
	color: #000;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}
.link--surinami span::before {
	content: attr(data-letters-l);
	left: 0;
	-webkit-transform: translate3d(-5px,0,0);
	transform: translate3d(-5px,0,0);
}
.link--surinami span::after {
	content: attr(data-letters-r);
	right: 0;
	-webkit-transform: translate3d(5px,0,0);
	transform: translate3d(5px,0,0);
}
.link--surinami:hover span::before,
.link--surinami:hover span::after {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.chen{font-size:1.3rem;
      color: #333;
      font-family: "微软雅黑";
      font-weight: bold;
}
main .jc-animation{width: 100%;
			height: 13rem;
			background: #00f;}
main .jc-animation img{width: 100%;}			
main .pic1{width: 100%;
			height: 33rem;
			background: #ccc;
			position: relative;
		
		}
main .pic1 img{width: 100%;height:100%;}
main .pic1 .cover{
	width: 100%;
	height: 90%;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: none;
}
main .pic1 .cover p{
	margin-top: 60%;
	color: #fff;
	font-size: 1.2rem;
	font-family: "微软雅黑";
}
main .pic1:hover .cover{
	display: block;
} 
#video2{
	margin-top: -3.5rem;
}

